/* Global Styles
-----------------------------*/
/* Box Model Fix */
html{
  box-sizing: border-box;
}
*,*:before, *:after{
  box-sizing: inherit;
}
body{
font-family: 'Oswald', sans-serif;
margin: 0;
}
h1,h2{
  font-family: 'Asap Condensed', sans-serif;
}
h1{
  font-size: 40px;
}
h2{
  margin-top: 0;
}
a{
  color:#C3423F;
}
a:hover{
  color:#CA2E55;
  text-decoration: none;
}
.content-wrap{
  max-width: 950px;
  margin:0 auto;
  padding:60px 50px;
  overflow: auto;
}

h3{
  margin:0;
}
p.uppercase{
  text-transform: uppercase;
}
.btn{
  text-decoration: none;
  background: red;
  color:white;
  padding: 10px;
  display: inline-block;
}

/* Header and Footer Styles
-----------------------------*/


  header,footer{
  background:#001011;
  color:#D5DFE5;
}
header{
  position:relative;
}

header h1, header h2{
  color:#D2CCA1;
  margin-top:0;
}
.profile-pic{
  border-radius: 50%;
}
.download{
  position:absolute;
  bottom:0;
  right:0;
}

/* Footer Styles */
footer{
    text-align: center;
}
.content-info a{
  padding:10px;
}


/* Navigation Styles */
nav{
  text-align: center;
  background: white;
  position: fixed;
  width: 100%;
}
nav a{
  display: inline-block;
  padding:15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

/* Work  Experience Styles
-----------------------------*/
.work{
  background: #3AAFB9;
}
h3 ~p{
  margin:0;
}
.job-description p:first-of-type{
  margin: 0;
}
.job-description{
  margin-bottom: 25px;
}




/* Education Styles
-----------------------------*/
.education{
  background: #64E9EE;
  background: linear-gradient(rgba(107, 65, 119,0.8),
                              rgba(107, 65, 119,0.5)),
                              url([000026].jpg) no-repeat fixed;
  background-size: cover;
}
p+h3{
  margin-top: 30px;
}






/* Media Styles
-----------------------------*/
 @media(max-width: 900px){
  header{
    text-align: center
  }
  .profile-pic{
    width:200px;
  }
}
@media (min-width: 900px){
  .col-narrow{
  width:30%;
  float: left;
/*  min-height: 175px; */
}
.col-width{
  width:70%;
  float: left;
  padding-left: 40px;
/*  min-height: 175px; */
}
}
